.label {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.selected,
.notSelected {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 1.6rem;
  margin-bottom: 4px;
  width: fit-content;
}

.ring {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-right: 8px;
}

.text {
  font-size: 1.2rem;
}

.selected .ring {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  border: 2px solid palevioletred;
}

.selected .ring .circle {
  width: 8px;
  height: 8px;
  background-color: palevioletred;
  border-radius: 100%;
}

.notSelected .ring {
  background-color: white;
  border: 2px solid gray;
}
