.SpinButton {
  width: fit-content;

  * {
    width: 100%;
    text-align: center;
  }

  button {
    height: 48px;
    font-weight: bold;
    font-size: 32px;
    border: none;

    &:hover {
      background-color: #fce4ec;
    }
  }

  .previousValue,
  .nextValue,
  .currentValue {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .previousValue,
  .nextValue {
    color: #616161;
  }

  .currentValue {
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}
